@model Technician

@{
    ViewBag.Title = "Get Technician";
}

<h2>Technician</h2>

<form asp-action="List" method="post">
    <select asp-for="TechnicianID" class="form-select" asp-items="@(new SelectList(ViewBag.Technicians, "TechnicianID", "Name"))">
        <option value="0">Select a technician...</option>
        </select>
        <button type="submit" class="btn btn-primary mt-2">Select</button>
</form>