@model Technician;

@{
    ViewData["Title"] = "Delete Technician";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Name (@Model.Phone)</h3>

<form asp-action="Delete" method="post">

    <input type="hidden" asp-for="TechnicianID">

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Technician" asp-action="List" class="btn btn-primary">Cancel</a>

</form>
